
body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#start {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

#jumpscare {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.fade-out {
    animation: fadeOut 1s forwards;
}
body{
 color: white;
background-color: black;
text-align: center;
    font-family: Arial, sans-serif;

}
a{
    font-size: 50px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 3);
    text-decoration: none;
    color: white;
    padding: 1em;
    border-radius: 30px;
    transition: 1.5s;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
a:hover{
transform: scale(1.2) ;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 3);

}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body{
 color: white;
background-color: black;
text-align: center;


}
a{
    font-size: 50px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

