body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    margin:0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: solid 5px rgb(143, 141, 255);
    position: sticky;
    top: 0;
    background-color: white;
}
.tete{
    display:flex;
    gap: 20px;
    align-items: center;
  }
  .a{
    padding: 0.5em 1em;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
.liendessu{
    background-color: rgb(223, 223, 223);
    padding: 0.5em 1em;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.liendessu:hover{
    background-color: blue; 
    transform: scale(1.2);
    color: white;
    box-shadow: 0 4px 12px rgba(0.2,0.2,0.2,0.2);
}
.a:hover{
    background-color: blue; 
    transform: scale(1.2);
    color: white;
    box-shadow: 0 4px 12px rgba(0.2,0.2,0.2,0.2);
}
.white:hover{
    background-color: rgba(255, 255, 255, 0);
}
.logoAccueil{
    margin: 20px;
    transition: 0.3s;
    width: 50px;
}
.logoAccueil:hover{
    background-color: white;
    transform: scale(1.2);
}


/* === UTILISABLE PARTOUT === */
.big_margin{
    margin: 200px 0;
}
.title{
    margin: 20px 0 90px 0;
    text-align: center;
}

.center{
    text-align: center;
}



/* === PAGE DEVELOPPEMENT === */
.sp2{
    grid-column: span 2;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 600px);
    gap: 30px;
}

.grid-item{
    display: grid;
    align-self: center;
    justify-items: center;
    grid-template-columns: repeat(2, 45%);
}


.container img{
    width: 650px;
    height: 400px;
    object-fit: cover;
}


.titre{
    text-align: center;
}
.titre p{
    color: rgb(112, 112, 112);
}
.logoaccueil{
display: flex;
margin: auto;
margin-bottom: 2em;
margin-top: 2em;
max-width: 600px;
width: 100%;
}
.gridaccueil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}
img{
    width: 100%;
    border-radius: 20px;

}
.plus{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 1em;
    border-radius: 5px;
    transition: 0.3s;
}
.gridaccueil p{
    margin-bottom: 2em;
}
.gridaccueil div{
    width: 50%;
    margin: auto;
}
.gridaccueil img{
    width: 50%;
    margin: auto;
}
.plus:hover{
    padding: 1.3em;
    background-color: rgba(0, 0, 0, 0.5);
}